/*-----------------------------------*\
  #GUIDEs
\*-----------------------------------*/

.guide { background-color: #3B2E74; }

.guide :is(.section-subtitle, .section-title) { text-align: center; }

.guide .section-title { margin-block-end: 50px; }

.guide-card {
  background-color: var(--white);
  border-radius: var(--radius-8);
  overflow: hidden;
  box-shadow: var(--shadow-2);
  height: 100%;
}

.guide-card .card-content { padding: 30px; }

.guide-card .card-title { transition: var(--transition-1); }

.guide-card .card-title:is(:hover, :focus-visible) { color: var(--violet-blue-crayola); }

.guide-card .card-text { margin-block: 16px 20px; }

.guide-card .card-meta-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.guide-card .card-meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--cadet-blue-crayola);
  font-size: var(--fs-8);
}