
.pain-point .section-title { margin-block-end: 50px; }



.pain-point-card .card-icon {
  width: 60px;
  height: 60px;
  background-color: var(--violet-blue-crayola);
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 2.5rem;
  border-radius: var(--radius-circle);
  margin-inline: auto;
}
.pain-point-card {
color: var(--light-gray);}

.pain-point-card .card-icon ion-icon { --ionicon-stroke-width: 50px; }

.pain-point-card .card-title { margin-block: 16px 10px; }


.pain-point-card .btn-text:is(:hover, :focus-visible) { opacity: 0.9; }


.main-container {
  padding: 10px;
}

.pain-point-card {
  display: flex;
  flex-direction: column; /* Empile les éléments verticalement */
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement si nécessaire */
  padding: 40px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-6);
  background-color: #6a58bd;
  text-align: center; /* Garantie du centrage horizontal */
}

.pain-point-card .card-title,
.pain-point-card .card-text {
  text-align: center; /* Centrage des titres et textes */
}