/*-----------------------------------*\
  #SERVICES
\*-----------------------------------*/
.services {


    text-align: center;
    margin-bottom: 50px;
    margin-top: 150px;
  }
  
  .services .section-title {
    margin-block-end: 50px;
  }
  
  .service-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
    gap: 20px; /* Espacement entre les éléments */
  
    margin: auto;
  }
  
  .service-item {
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
  }
  
  .service-item h3 {
    color: var(--white);
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: var(--fs-3);
  }
  
  .service-item p {
    margin-top: 20px;
    color: var(--light-gray);
    font-weight: 100;
    text-align: left;
  }
  
  .service-item .underline {
    height: 2px;
    width: 70px;
    background-color: rgb(255, 189, 90);
    margin-top: 1px;
  }
  
  /* Gestion du responsive avec CSS Grid */
  @media screen and (max-width: 768px) {
    .service-items {
      grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
      text-align: left;
    }
  }
  
  @media screen and (max-width: 480px) {
    .service-items {
      grid-template-columns: 1fr; /* Une colonne */
      text-align: left;
    }
  }
  